*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav1{
    width: 100%;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 50;
}

.navdiv{
    display: flex;
    margin-right: 20%;
    
}

.navdiv p{
    font-size: 18px;
   font-weight: 500;
    padding: 5px 7px;
}


.loader {
  border-radius: 50%;
  box-shadow: 0 0 0 0 #d84148;
}

.navdiv img{
    padding: 5px 9px;
    transition: 0.5s;
     border: 3px solid transparent;
}

.f:hover{
    border: 3px solid #d84148;
    
}

.navdiv1 i{
   font-size: 20px;
   padding-right: 50%;
}

.nav2{
        width: 100%;
    height: 8vh;
   background-color: #3b3b79;
   display: flex;
   margin-top: 3.7%;
   border: 1px solid red;
   border: none;
 
}

.nav2 img{
    width: 52%;
    height: 5.5vh;
    margin-left: 9%;
    margin-top: 0.5%;
    margin-right: 1%;
}

.nav2 button{
    padding: 10px 28px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 0.6%;
    border: none;
    color: white;
}

.nav3{
       width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1%;
}

.nav3 img{
    width: 12%;
    padding-bottom: 1%;
}

.navbutton1{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
   background-color: #d84148;
    color: white;
    border: none;
    transition: 0.4s linear;
}

.navbutton1:hover{
    background-color: black;
}

.navbutton2{
     padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    color: white;
     border: none;
       transition: 0.4s linear;
}

.navbutton2:hover{
    background-color: #d84148;
}

.nav4{
    width: 100%;
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
     border-top: 1px solid #ddd ;
     position: sticky;
     top: 8%;
     z-index: 100;
}
.nav4 a{
    text-decoration: none;
    color: black;
    padding: 10px 13px;
    font-size: 12px;
    
}

.nav4 a:hover{
    color: #d84148;
}

.nav4 button{
    border-radius: 100px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background: #d84148;
    color: #fff;
    font-weight: 100;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.nav4 button:hover{
    background-color: black;
    color: white;
}

.Feedback{
     margin-right: 4%;
}

header{
    border: 0.1px solid white;
    
    width: 100%;
    height: 70vh;
    background-image: url(images/ai-search-feature-en.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

header h1{
    font-size: 45px;
}

header p{
    font-size: 29px;
    font-weight: 600;
    padding-top: 1.5%;
}

header button{
    outline: none;
    border: 2px solid black;
    padding: 15px 20px;
    font-size: 18px;
    background: transparent;
    margin-top: 2%;
    transition: 0.3s linear;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

header button:hover{
    background-color: black;
    color: #d84148;
}

header button:active{
    transform: scale(0.9);
    
}

#head{
    margin-left: 11%;
    margin-top: 10%;
}

.maincontainer{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 90vh;
    background-image: url(images/feature-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.leftcontainer{
    width: 35%;
    height: 80vh
}

.leftcontainer h2{
    color: white;
    font-size: 220%;
}

.leftcontainer p{
    color: white;
    font-size: 95%;
    padding-top: 4%;
    line-height: 25px;
}

.leftcontainer button{
   color: white;
   font-size: 100%;
   padding: 18px 22px;
   background-color: #d84148;
   border: none;
   margin-top: 5%;
}

.leftcontainer button:hover{
    background-color: black;
    color: #d84148;
}

.rightcontainer{
    width: 45%;
    height: 80vh;
    border: 1px solid red;
    border: none;
    position: relative;
}


.btn button{
    padding: 12px 32px;
    
    font-size: 100%;
    font-weight: 600;
    outline: none;
    background-color: #333;
    color: white;
    border: none;
    margin: 0.6%;
}

.minicontainer{
   display: flex;
   gap: 0.9%;
   margin-top: 3%;
   
}

.minidiv1{
    width: 50%;
    height: 60vh;
    background-color: #222427;
}


.minidiv1 h2{
    color: white;
    font-size: 28px;
     margin-top: 9%;
     margin-left: 5%;
      border-left: 3px solid #d84148;
     transition: 0.4s ease;
      cursor: pointer;
    
    
}

.minidiv1 h2:hover{
    color: #d84148;
}

.minidiv1 button{
    color: white;
    background-color: #3b3b79;
    padding: 13px 25px;
    margin-top: 8%;
    font-size: 16px;
    border: none;
    transition: 0.3s linear;
    position: relative;
    z-index: 1;
    cursor: pointer;  
}

.minidiv1 button:hover{
    background-color: black;
    color: #d84148;
}

.minidiv1 button:active{
    transform: scale(0.9);
    
}


.minidiv2{
    width: 50%;
    height: 60vh;
    background-color: #222427;

}

.minidiv2 h2{
    color: white;
    font-size: 28px;
     margin-top: 9%;
     margin-left: 5%;
      border-spacing: 20%;
      border-left: 3px solid #d84148;
      transition: 0.4s ease;
      cursor: pointer;
}
.minidiv2 h2:hover{
    color: #d84148;
}

.minidiv2 button{
    color: white;
    background-color: #3b3b79;
    padding: 13px 25px;
    margin-top: 8%;
    font-size: 16px;
    border: none;
    transition: 0.3s linear;
    position: relative;
    z-index: 1;
    cursor: pointer;   
}

.minidiv2 button:hover{
    background-color: black;
    color: #d84148;
}

.minidiv2 button:active{
    transform: scale(0.9);
    
}


.hr1{
    color: #d84148;
    background-color: #d84148;
    width: 5%;
    height: 1vh;
    border-radius: 50px;
      margin-left: 41%;
      margin-top: 7%;
     border: none;
}

.hr2{
    color: #d84148;
    background-color: white;
     border: none;
    width: 10%;
    height: 1vh;
    border-radius: 50px;
    margin-left: 48%;
    position: absolute;
    right: 43%;
    bottom: 2.4%;
}

.boxcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-top: 2%;
    
}

.box0{
     width: 28%;
    height: 38vh;
}

.box0 div{
    border: 1px solid white;
    color: #d84148;
   box-shadow: 9px 5px 10px -4px #0000004f;
    width: 60%;
    height: 6vh;
    padding: 10px 20px;
    font-size: 20px ;
    font-weight: 500;
    margin-top: 15%;
    background-color: #e4e4e4;
    border: none;
}

.box0 h2{
    padding-top: 6%;
    font-size: 35px;
}

.box1{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 28%;
    height: 38vh;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
    padding: 30px;
    
}

.box1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #3b3b79;
  transition: width 0.4s ease;
  z-index: 0;
  
}

.box1:hover::before {
  width: 100%;
}

.box1 i,
.box1 h2,
.box1 p {
  position: relative;
  z-index: 1;
  transition: color 0.4s ease;
  color: black;
}

.box1:hover i,
.box1:hover h2,
.box1:hover  p {
  color: #fff;
}


.box1 i{
    font-size: 60px;
    padding-top: 11%;
    padding-left: 40%;
    color: #3b3b79;
}

.box1 h2{
    font-size: 30px;
     padding-left: 20%;
       padding-top: 5%;
}

.box1 p{
    text-align: center;
     padding-top: 5%;
}

footer{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 70vh;
    background-image: url(images/footer-bg.png);
    background-color: #1b182b;
}

.manifooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 4%;
    
}



.foot1{
    
    width: 30%;
}


.foot1 p{
    color: #ddd;
    margin-top: 5%;
    line-height: 30px;
}

.icon{
    margin-top: 5%;
}

.icon i{
    color: white;
    border: 1px solid red;
    border: none;
    width: 10%;
    height: 4vh;
    border-radius: 50px;
    font-size: 18px;
    padding: 12px 10px;
    background-color: #292744;
    transition: 0.4s;
}

.icon i:hover{
    background-color: #d84148;
    color: white;
}

#icon2{
    color: #d84148;
    font-size: 30px;
}

.foot2 h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.foot2 p:hover{
    color:  #3b3b79;
}
.foot2 p{
    color: #ddd;
    margin-top: 12%;
    transition: 0.5s ease;
    cursor: pointer;
}

.foot3 h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.foot3 p{
    color: #ddd;
    margin-top: 11.7%;
    transition: 0.5s ease;
    cursor: pointer;
}

.foot3 p:hover{
    color:  #3b3b79;
}
.foot4 h2{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.foot4 p{
     color: #ddd;
    margin-top: 11%;
    font-size: 15px;
     transition: 0.5s ease;
    cursor: pointer;
}
.foot4 p:hover{
    color:  #3b3b79;
}

.foot4 i{
    color: #d84148;
    font-size: 20px;
}

footer hr{
    background-color: #d84148;
    height: 0.1vh;
    width: 90%;
    margin-left: 3.8%;
    border: none;
    margin-top: 2%;
}

.lastpara{
    color: #ddd;
    margin-top: 1%;
    margin-left: 7.5%;
    font-size: 15px;
}

.baner{
    border: 1px solid red;
    border: none;
    width: 100%;
    height: 90vh;
    background-image: url(images/feature-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 4%;
}

.baner1{
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    padding-top: 2%;
}

.banerB div{
    border: 1px solid white;
    color: #d84148;
   box-shadow: 9px 5px 10px -4px #0000004f;
    width: 70%;
    height: 6vh;
    padding: 10px 20px;
    font-size: 20px ;
    font-weight: 500;
    background-color: #e4e4e4;
    border: none;
}

.banerB h2{
    color: white;
    font-size: 230%;
    margin-top: 5%;
}

.banerB p{
    color: white;
    font-size: 95%;
    padding-top: 4%;
    line-height: 25px;
}

.banerB button{
   color: white;
   font-size: 100%;
   padding: 18px 22px;
   background-color: #d84148;
   border: none;
   margin-top: 5%;
}

.banerB button:hover{
    background-color: black;
    color: #d84148;
}

.baner2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding-top: 2%;
}

.banerC{
    border: 1px solid red;
    border: none;
    width: 16%;
    height: 21.5vh;
}

.banerD{
    width: 16%;
    height: 21.5vh;
    background-color: #d84148;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

